# Ignore root temp scripts & images
*.py
!backend/
!frontend/
!tests/
*.db
*.sqlite3
*.png
*.jpeg
*.jpg
*.pdf
caveman/
.agents/
.pytest_cache/
__pycache__/

# Backends and Frontends have their own gitignores, but let's double down here:
**/node_modules/
**/.expo/
**/dist/
**/web-build/
**/__pycache__/
**/.env
**/.vscode/
**/.idea/
**/.kotlin/
**/ios/
**/android/
